body {
  /*margin-top: 130px;*/
  padding-top: 100px;
}

img {
  max-width: 100%;
}

.f-size {
  font-size: .875rem
}

.am-text-lg {
  font-size: 1.8rem;
}

.dotted-line {
  border-bottom: 1px dotted;
}

.bg-orange {
  background-color: #FF5500;
}

.text-orange {
  color: #FF5500;
}

.text-white {
  color: #fff;
}

.am-circle {
  border-radius: 50%;
}

.am-row {
  margin: 10px 0;
}

.am-row:before,
.am-row:after,
.am-nav-bg {
  background-color: #FE0101;
}

.input-error {
  border-color: #dd514c !important;
}

/* header - 导航条 */
.am-header {
  position: relative;
  width: 100%;
  height: 49px;
  line-height: 49px;
  padding: 0 10px;
}

.am-header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1030;
}

.showed {
  top: 0;
  z-index: 1009;
}

.hiddened {
  top: -49px !important;
}

.am-header-default {
  background: #e5e5e5;
}

.am-header-nav {
  position: absolute;
  left: 50px;
  width: 75%;
}

.am-header-nav img {
  width: 35px;
  height: 35px;
  margin-top: -10px;
}

.am-icon-btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  border-radius: 50%;
  background-color: #eee;
  color: #555;
  text-align: center;
}

.am-header div {
  /*display: inline-block;*/
}

.am-icon-long-arrow-down,
.am-icon-long-arrow-up {
  display: inline-block;
  width: 9px;
  height: 19px;
  background: url(../img/down-arrow.png) no-repeat;
  position: relative;
  top: 5px;
}

.am-icon-long-arrow-up {
  background: url(../img/up-arrow.png) no-repeat;
}

/* 侧边导航 menu*/
.am-menu-nav img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 24px;
  line-height: 100px;
  background-color: #eee;
  color: #555;
  text-align: center;

  width: 18px;
  height: 17px;
  border-radius: 0;
  background: none;
  position: relative;
  top: -3px;
  left: -5px;
}

.am-menu-nav li:nth-child(1) {
  height: 115px;
  text-align: center;
}

.am-menu-nav li:nth-child(1) img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: .5rem;
  margin-bottom: .5rem;
  vertical-align: top;
}

.slide-mask {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: none;
}

aside.slide-wrapper {
  position: fixed;
  z-index: 1145;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40%;
  width: 170px;
  max-width: 100%;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

aside.slide-wrapper > div {
  background-color: #242527;
  min-height: 100%;
}

aside.slide-wrapper > div > div {
  padding: 0 10px;
  height: 45px;
  background-color: #262626;
  overflow: hidden;
}

aside.slide-wrapper > div > div strong {
  height: 45px;
  line-height: 45px;
  font-size: 18px;
  color: #fff;
  font-weight: normal;
}

aside.slide-wrapper.moved {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

aside.slide-wrapper li > a {
  padding: 15px 40px;
  border-top: 1px solid #4d4d4d;
  border-bottom: 1px solid #262626;
  font-size: 15px;
  display: block;
  color: #fff;
}

aside.slide-wrapper li.current > a {
  background-color: #262626;
}

/* header - 实时报价 */
.ss-bj-green {
  background-color: #1F921D;
}

.ss-bj-red {
  background-color: #CE3333;
}

.border-right-line {
  border-right: 1px solid #fcfdfb;
}

#priceList {
  line-height: 20px;
  color: #fff;
  text-align: center;
  top: 0;
  left: 2%;
  right: 2%;
  z-index: 1050;
}

/* main */
/* 标题*/

.border-top-bottom {

}

.am-list-news-hd {
  padding-bottom: 0;
  margin-top: 10px;
  background-color: #F6F6F6;
  border-bottom: 1.5px solid #999999;
  border-top: 1px solid #999999;
  height: 37px;
  margin-bottom: 10px;
}

.am-list-news-hd > h4 {
  margin-left: 10px;
  font-size: 1.2em;
}

.am-jy-bg {
  background-color: #F3F3F3;
  border-bottom: 1px solid #fff;
}

/*交易品种*/
.buy-increase {
  background-color: #CB0406;
}

.buy-decrease {
  background-color: #259E26;
}

.am-btn {
  display: inline-block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  border-radius: 0;
  width: 100%;
}

.silver {
  color: #366092;
}

.am-bought {
  position: absolute;
  top: 0px;
  right: 10px;
  height: 40px;
  display: none;
}

/*行情走势*/
.am-stock-title-bar {
  text-align: center;
  /*height: 41px;*/
}

.btn-group > .am-btn {
  background-color: #E6E6E6;
}

.am-active {
  background-color: #3F94B9 !important;
  color: #fff;
}

.am-btn > input {
  position: absolute;
  z-index: -1;
  width: 0;
}

/*最新资讯*/

.am-list-news {
  margin: 10px 10px 0px 10px;
}

/*首页底部的 已购买订单 */

.zhuanrang-rootPop {
  width: 100%;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
}

.zhuanrang-rootPop:before {
  clear: both;
}

.zhuanrang-rootPop .zhuanrang-rootPop-Left {
  height: 41px;
  background: #000;
}

.zhuanrang-rootPop .am-btn {
  height: 41px;
}

.zhuanrang-rootPop-Left span {
  height: 41px;
  line-height: 41px;
  display: inline-block;
  vertical-align: top;
  font-size: 10px;
}

.zhuanrang-rootPop-Left span:last-child {
  line-height: 1.9;
  text-align: center;
  color: #fff;
  background-color: #5a5a5a;
}

.am-btn-warning {
  color: #fff;
  background-color: #f37b1d;
  border-color: #f37b1d;
}

/*order-list*/
.am-header-title {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  display: block;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*user-info*/

.am-group {
  padding-left: 0;
  margin-bottom: 20px;
}

.am-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 1px solid #ddd;
}

/*盈亏排行榜*/
.pm1 {
  height: 80px;
  background-image: url(../img/rank-list/pm1.jpg);
  background-size: 100% 100%;
}

.pm2 {
  color: #FFF;
  font-size: 18px;
  padding-left: 5px;
}

.pm3 {
  color: #DD9E65;
  margin-left: 5px;
}

.pm4 {
  font-size: 18px;
  color: #000;
  font-weight: bold;
  letter-spacing: 2px;
}

.pm5 {
  border-bottom: 4px #F3F1F2;
  margin-bottom: 15px;
}

.pm6 {
  color: #000;
  text-align: center;
}

.pm7 {
  color: #F00;
  text-align: center;
}

.pm8 {
  margin-bottom: 10px;
}

.pm9 {
  color: #FB9B3F;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  text-indent: 1.9%;
}

.tubiao {
  background-image: url(../img/rank-list/iconpm.png);
  background-repeat: no-repeat;
  background-position: 100% 5px;
}
